* {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #cedaff;
    transition: filter .3s ease;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 800px;
    text-align: center;
    margin-top: 2rem;
}

.header h1 {
    font-weight: 400;
}

.header h1,
.header h3 {
    margin: 0.4rem;
}

.header h3 {
    font-weight: 200;
}

.header h3 {
    background-color: rgb(15, 13, 14);
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
}

h3#plan-header {
    font-weight: 100;
}

.task #each-task {
    border: 1px solid rgba(0, 0, 0, 0.104);
    background-color: #ffffffbb;
    border-radius: .6rem;
}

.task #each-task #title {
    font-weight: 100;
    font-size: large;
}

.task #each-task textarea,
.task #each-task input {
    outline: none;
}

.task #each-task #content,
.task #each-task #title {
    background-color: transparent;
    display: block;
    padding: .5rem;
    width: 100%;
    border: none;
}


/* 
.task {
 
} */

.bottom-task div {
    width: 60%;
}

.bottom-task .category-select select {
    width: 100%;
    padding: .2rem;
    outline: none;
}

.tab,
.bottom-task,
.schedule-header,
.schedule-status,
.schedule-task {
    display: flex;
}

.schedule-task {
    align-items: flex-start;
}

#submit-task,
.schedule-header {
    box-shadow: 1px 1px 5px #00000056;
}

#submit-task {
    background-color: #fff;
    padding: 0.1rem;
    margin-block: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(.97);
}

#submit-task,
#searching {
    flex-grow: 1;
    transition: all .3s ease;
}

#searching {
    padding: 1.1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

#cancel-search:hover,
#search_bar:hover,
#submit-task:hover {
    color: #fff;
    transform: scale(1);
}

.display-none {
    display: none;
}

#search_bar:hover,
#submit-task:hover {
    background-color: #010768 !important;
}

#cancel-search:hover {
    background-color: red;
}

.schedule-header {
    justify-content: space-between;
    padding: 1.1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
    height: 10rem;
    flex-direction: column;
}

.schedule-task .st-inner-content {
    flex-grow: 1;
    text-align: left;
    padding-inline: 0.5rem;
}

.schedule-status {
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
}

.schedule-status p {
    margin: 0 !important;
    padding: .5rem;
    font-weight: 200;
    font-size: small;
}

.tag,
.schedule-task .st-inner-content {
    border-radius: .3rem;
}

.schedule-task .st-inner-content p {
    font-weight: 300;
}

.tag p,
.schedule-task .st-inner-content p {
    margin: 0;
    margin-bottom: 0.5rem;
}

#checkbox {
    width: 1.3rem;
    height: 1.3rem;
    border: none;
}

.bottom-task {
    justify-content: space-between;
    margin-top: .5rem;
    align-items: center;
    gap: 1rem;
}

.bottom-task .add {
    background-color: red;
    border: none;
    color: #fff;
    padding-inline: 2rem;
    border-radius: .2rem;
    padding-inline: 2.2rem;
    flex-grow: 1;
    padding-block: 0.8rem;
    cursor: pointer;
}

.tab {
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.tab h4 {
    flex-grow: 1;
    font-weight: 200;
    transition: all .3s ease;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    margin-block: 0;
    border-radius: 0.5rem;
    padding-block: 1rem;
    color: #000;
    background-color: #fff;
}

.active {
    font-weight: bolder !important;
    background-color: #020887 !important;
    color: #fff !important;
}

@keyframes slideDown {
    from {
        transform: translateY(-.5rem);
        opacity: .5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.edit_button {
    display: flex;
    gap: .5rem;
    padding-inline: .5rem;
}

.edit_button button {
    display: block;
    border: none;
    color: #fff;
    padding: .5rem;
    cursor: pointer;
}

.edit_button button {
    background-color: #fff;
}

.single_task h1 {
    color: rgb(2, 2, 56);
}

.single_task {
    text-align: left !important;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.single_task>h3 {
    border-bottom: 1px solid grey;
    padding-bottom: .5rem;
}

.task_description {
    border: 1px solid grey;
    border-radius: .5rem;
    padding-inline: .5rem;
}

.descr {
    color: rgb(155, 7, 7);
}

.task_description p {
    line-height: 1.5rem;
}

.progress_bar {
    border-radius: .5rem;
    border: 1px solid #010222;
    text-align: center;
    position: relative;
    padding-block: 0.5rem;
    overflow: hidden;
}

.progressing {
    position: absolute;
    padding: 0rem;
    background-color: #fff;
    top: 0;
    overflow: hidden;
    bottom: 0;
}

.anim_prog::after {
    content: " ";
    padding: .2rem;
    background-color: #010768;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(10deg) scale(3);
    transition: all .3s ease-in-out;
    filter: blur(.5rem);
}

#cancel-search,
#search_bar {
    transition: .3s ease linear;
    cursor: pointer;
    background-color: #fff;
    padding: 17px;
    border-radius: 0.5rem;
}

.progress_bar {
    margin-block: 1rem;
}

.anim_prog {
    transition: all .3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: move 2s ease infinite;
}

@keyframes move {
    from {
        transform: translateX(-100%);
        opacity: 1;
        /* right: auto; */
    }
    to {
        /* left: auto; */
        transform: translateX(50%);
        opacity: 0.3;
        right: 0;
    }
}


/* .anim_prog {
    position: absolute;
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 1000;
} */

.progress_bar p {
    margin: 0;
    position: absolute;
    top: 0%;
    right: 0;
    left: 0;
    font-size: small;
}

.evaluating {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .5rem;
    align-items: center;
}

.evaluating button {
    border: none;
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem;
}

#pop-up-task {
    z-index: 10000;
    background-color: #fff;
    position: fixed;
    padding: 0.8rem;
    width: 40%;
    border-radius: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
}

#loading-task {
    width: 50%;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    object-fit: cover;
}

#pop-up-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.559);
    z-index: 2000;
    transition: visibility .3s ease;
    visibility: hidden;
}

.show-loading {
    visibility: visible !important;
}

#icon-head {
    padding: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    margin-top: -45px;
    margin-bottom: 10px;
    color: #010768;
}

.showPopUp {
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.blurBody {
    filter: blur(2px) invert(15%);
    pointer-events: none;
}

#category {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

#cancel {
    background-color: #fff;
    display: block;
    color: #000;
    text-align: center;
    border: 1px solid #0000006b;
}

@media (max-width: 469px) {
    #pop-up-task {
        width: 80%;
    }
    #loading-task {
        width: 110%;
    }
    .schedule-header {
        height: auto;
    }
    .edit_button {
        flex-direction: column;
        padding-inline: 0;
    }
    #checkbox {
        width: 1rem;
        height: 1rem;
    }
    .header h3 {
        font-size: large;
    }
    .header h2 {
        font-size: x-large;
    }
}